.calculette{
  width: 60%;
  margin: 150px 20%;
  background-color: rgb(6, 90, 189);
  border-radius: 20px;
  border: 3px solid #000;
}

#affichage{
  width: 80%;
  margin: 20px 10%;
}

#listChiffre, #operation{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#listChiffre>.chiffre{
  width: 25%;
  margin: 10px 5px;
}

.signe{
  width: 20%;
}

.chiffre, .signe, .bouton>button{
  border-radius: 10px;
  border: 0px;
  background-color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.signe:hover,.bouton>button:hover,.chiffre:hover {
    background-color: rgb(35, 220, 245);
    color: white;
}

.bouton{
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 800px) {
  .calculette{
  width: 40%;
  margin: 150px 30%;
  }
}
@media (min-width: 1000px) {
  .calculette{
  width: 30%;
  margin: 150px 35%;
  }
}
@media (min-width: 1200px) {
  .calculette{
  width: 20%;
  margin: 150px 40%;
  }
}
